:root{

  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  /* ### Neutral */

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  position: relative;
  background-color: var(--Dark-Grayish-Blue);
  border-radius: 10px;
  padding: 30px;
  position: relative;
}

.container h3{
  color: var(--Neon-Green);
}

.container p{
  text-align: center;
  /* overflow: scroll; */
  font-size: 1.3rem;
  margin: 15px;
  color: var(--Light-Cyan);
}

.container .separator{
  margin: 20px 0;
}

.container .separator img{
  width: 100%;
}

.button-container{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: calc(100% - 30px);
  left: calc(50% - 30px);
  display: flex;
  justify-content: center;
  align-content: center;
}

.button-container button{
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: var(--Neon-Green);
}

.button-container button:hover{
  box-shadow: 0px 0px 30px 1px var(--Neon-Green);
}

@media (max-width: 700px){
  .container{
    width: 70%;
  }
}


@media (max-width: 900px){
  .container{
    width: 70%;
  }
}